.custom-button {
  min-width: 175px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  transition: all 0.3s;

  &:hover {
    background-color: white;
    color: black;
  }

  &:focus {
    outline: none;
  }

  &.google-btn {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #4285f4;
    }
  }
}
