.user-invitations-page {
  .band-invitations {
    .title {
      font-size: 24px;
    }
    .details {
      display: flex;
      flex-direction: row;

      .author {
        flex: 1;
      }

      .band {
        flex: 3;
      }
    }
    .buttons {
      display: flex;
    }
    .messages {
      .success {
        margin-top: 10px;
        color: green;
      }
      .error {
        margin-top: 5px;
        color: red;
      }
    }
  }

  .concert-invitations {
    .title {
      font-size: 24px;
    }
    .details {
      display: flex;
      flex-direction: row;

      .author {
        flex: 2;
      }

      .concert {
        flex: 3;
      }
    }

    .messages {
      .success {
        margin-top: 10px;
        color: green;
      }
      .error {
        margin-top: 5px;
        color: red;
      }
    }
  }
}
