.signinPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 10px 0;
  }

  .signin__container {
    margin: 0 auto;
    width: 400px;

    .form__link {
      display: block;
      margin-bottom: 10px;
      color: black;

      &:hover {
        color: grey;
      }
    }

    .form__btnGroup {
      display: flex;
      justify-content: space-between;
    }
  }
}
