.home-page {
  margin: 0 auto;

  .img-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("https://concertticket0ec39b2f2bf64af1a05b2f5d8040047b112252-devv.s3.eu-central-1.amazonaws.com/public/concert-crowd.jpg");

    h1 {
      color: white;
      margin: 0 auto;
      margin-top: 40px;
      text-align: center;
    }

    .description {
      color: white;
      width: 100%;
      text-align: center;
      margin: 20px auto;
    }
  }

  .concerts-container {
    margin: 0 auto;

    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 5px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 5px;
    }
  }
}

@media screen and (min-width: 992px) {
  .home-page {
    .img-container {
      .description {
        width: 60%;
      }
    }
    .concerts-container {
      h2 {
        margin-left: 20px;
      }

      .wrapper {
        flex-direction: row;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .home-page {
    .img-container {
      .description {
        width: 60%;
      }
    }
    .concerts-container {
      max-width: 1200px;
      .wrapper {
        flex-direction: row;
      }
    }
  }
}
