.forgot-new-password {
  max-width: 1320px;
  margin: 50px auto 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and(min-width: 1200px) {
  .forgot-new-password {
    flex-direction: row;
  }
}
