.user-details-page {
  width: 100%;
  padding: 10px;
  h1 {
    font-size: 1.5rem;
  }

  .details {
    .email {
      font-size: 1rem;
    }
  }

  .form-container {
    margin-top: 40px;
    .messages {
      margin-top: 10px;

      .success {
        color: green;
      }

      .error {
        color: red;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .user-details-page {
    .form-container {
      max-width: 500px;
    }
  }
}
