.artists-page-artist {
  margin: 10px 5px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  width: auto;

  &:hover {
    color: slategray;
  }

  .artists-page-artist-container {
    width: 100%;

    .image {
      width: 300px;
      height: 450px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        object-fit: cover;
      }

      .altImg {
        width: 100%;
      }
    }

    .description {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .artists-page-artist {
    margin: 20px 10px;
  }
}

@media screen and (min-width: 1200px) {
  .artists-page-artist {
    .artists-page-artist-container {
      // display: flex;

      .image {
        max-width: 600px;
      }
    }
  }
}
