.spinner {
  position: absolute;
  left: 40%;
  top: 50%;

  .spinner-border {
    z-index: 1;
    height: 4rem;
    width: 4rem;
  }

  .spinner__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;

    &.bright {
      background-color: transparent;
    }
  }
}
