.signupPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0 auto;
  }

  .signupPage__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .signupPage__group {
      margin-top: 20px;
    }
  }
}
