.signupPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0 auto;
  }

  .container {
    margin: 0 auto;
    width: 400px;

    .form-error-message {
      display: block;
      margin-top: 5px;
      color: red;
    }
  }
}
