.user-bands-page {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .band-wrapper {
    width: 100%;

    h2 {
      margin: 15px 0;
      text-align: center;
    }

    .band-container {
      .band {
        margin: 10px 0;
        padding: 5px;
        border: 1px solid lightgrey;
        .upload-image {
          margin-top: 20px;
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .messages {
            margin-top: 10px;

            .success {
              color: green;
            }

            .error {
              color: red;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .user-bands-page {
    align-items: flex-start;
    margin-top: 10px;

    .band-wrapper {
      h2 {
        text-align: left;
      }
    }
  }
}
