.user-artist-page {
  margin-top: 30px;
  margin-bottom: 100px;
  .artist-details-container {
    display: flex;
    margin: 0 20px 50px;
    flex-direction: column;
    align-items: center;

    .image {
      max-width: 400px;
      img {
        width: 100%;
      }
    }

    .details {
      margin-top: 20px;

      .group {
        display: flex;
        font-size: 2rem;
        margin-bottom: 15px;

        .name {
          font-weight: 700;
          margin-right: 10px;
        }

        .description {
          font-size: 1rem;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    .form-image {
      max-width: 400px;

      img {
        width: 100%;
        margin-bottom: 10px;
      }

      form {
        width: 100%;

        .btn-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .form__button {
            margin-top: 20px;
          }
        }

        .imageErrors {
          margin-top: 10px;
          color: red;
        }
      }
    }

    .form-details {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .user-artist-page {
    .artist-details-container {
      flex-direction: row;

      .image {
        flex: 1;
      }

      .details {
        justify-content: space-around;
        flex: 1;
        margin: 0;
        margin-left: 20px;
        .group {
          display: flex;
          flex-direction: column;

          .name {
            line-height: 1;
          }
        }
      }
    }

    .forms-container {
      flex-direction: row;

      .form-image {
        flex: 1;
      }

      .form-details {
        flex: 1;
        margin-left: 20px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .user-artist-page {
    .artist-details-container {
      .details {
        .group {
          display: flex;
          flex-direction: row;

          .name {
            line-height: unset;
          }
        }
      }
    }
  }
}
