.user-artist-page {
  margin-top: 30px;
  margin-bottom: 100px;

  .artist-details-container {
    display: flex;
    margin: 0 20px 50px;
    flex-direction: column;

    .image {
      max-width: 400px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .details {
      margin-top: 20px;

      .group {
        display: flex;
        font-size: 2rem;

        &.name {
          flex-direction: column;

          p {
            order: 2;
          }
        }

        .name {
          font-weight: 700;
          margin-right: 10px;
        }

        .description {
          margin-top: 5px;
          font-size: 1.2rem;
          text-align: justify;
        }

        p {
          margin: 0;
          line-height: 1;
        }
      }
    }
  }

  .forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    .form-image {
      max-width: 400px;

      img {
        width: 100%;
        margin-bottom: 10px;
      }

      form {
        width: 100%;

        .btn-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .form__button {
            margin-top: 20px;
          }
        }

        .imageErrors {
          margin-top: 10px;
          color: red;
        }
      }
    }

    .form-details {
      width: 100%;
    }
  }

  .band-container {
    margin: 10px;

    .band-link {
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;

      &:hover {
        color: slategray;
      }

      p {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .user-artist-page {
    .artist-details-container {
      flex-direction: row;

      .image {
        flex: 1;
      }

      .details {
        justify-content: space-around;
        flex: 1;
        margin: 0;
        margin-left: 20px;

        .group {
          margin-bottom: 5px;

          .description {
            font-size: 1.4rem;
          }
        }
      }
    }

    .forms-container {
      flex-direction: row;

      .form-image {
        flex: 1;
      }

      .form-details {
        flex: 1;
        margin-left: 20px;
      }
    }

    .band-container {
      .band-link {
        flex-direction: row;

        p {
          flex: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .user-artist-page {
    .artist-details-container {
      .details {
        .group {
          &.name {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 0;
            font-size: 2.4rem;

            p {
              order: unset;
            }
          }
        }
      }
    }
  }
}
