.user-concert {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 10px 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  &:hover {
    color: gray;
  }

  .img-wrapper {
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;
    display: flex;

    img {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      width: 100%;
      object-fit: scale-down;
    }
  }

  .details {
    p {
      margin: 5px 0;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .user-concert {
    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .user-concert {
    flex-direction: row;
    .img-wrapper {
      margin: 0;
    }

    .details {
      margin-left: 10px;
      align-items: unset;
    }
  }
}

@media screen and (min-width: 1200px) {
  .user-concert {
    margin-left: 0;
  }
}
