.bands-page-band {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  width: 100%;

  &:hover {
    color: lightslategray;
  }

  .bands-page-band-container {
    width: 100%;

    .image {
      max-width: 300px;
      max-height: 200px;
      min-height: 150px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        object-fit: scale-down;
      }

      svg {
        max-height: 170px;
      }
    }

    .details-container {
      margin-top: 10px;

      p {
        margin: 0;
      }

      .description {
        text-align: justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .bands-page-band {
    .bands-page-band-container {
      display: flex;

      .image {
        flex: 1;

        svg {
          max-height: 200px;
        }
      }

      .details-container {
        margin-top: 0;
        padding-right: 10px;
        flex: 1;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .bands-page-band {
    .bands-page-band-container {
      display: flex;

      .image {
        max-width: 400px;
      }

      .details-container {
        .description {
          -webkit-line-clamp: 6;
        }
      }
    }
  }
}
