.signupPage {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .signup-container {
    .form-buttons {
      display: flex;
      align-items: center;
      flex-direction: column;

      .confirm-link {
        margin-top: 20px;
        color: #000000;

        &:hover {
          color: grey;
        }
      }
    }

    .form-messages {
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 576px) {
  .signupPage {
    .signup-container {
      .form-buttons {
        flex-direction: row;

        .confirm-link {
          margin-top: 0;
          margin-left: 50px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .signupPage {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    .signup-container {
      .form-buttons {
        flex-direction: row;

        .confirm-link {
          margin-top: 0;
          margin-left: 50px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .signupPage {
    max-width: 500px;
    width: 100%;
    margin-top: 0;
  }
}
