.concert-page {
  max-width: 1320px;
  margin: 40px auto 0;
  .container {
    display: flex;

    .image-container {
      width: 50%;

      img {
        width: 100%;
      }
    }

    .description-container {
      margin-left: 20px;
      width: 50%;
    }
  }

  .tickets-container {
    margin-top: 50px;

    .ticket {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid lightslategray;
      border-radius: 5px;

      .cart-btn {
        border: none;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 10px;

        &:hover {
          box-shadow: 2px 2px lightslategray;
        }

        svg {
          width: 40px;
          height: 40px;
        }
      }
      .error {
        margin: 0;
        margin-top: 10px;
        color: red;
      }
    }
  }
}
