.concert-page {
  max-width: 1320px;
  margin: 40px auto 100px;

  .concert-page-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    .image-container {
      max-width: 350px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .description-container {
      margin-top: 20px;

      p {
        margin: 5px 0;
      }
    }
  }

  .tickets-container {
    margin: 50px 10px;
    margin-top: 50px;

    .ticket {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid lightslategray;
      border-radius: 5px;

      .desc {
        font-size: 1rem;
        font-weight: 500;
      }

      .cart-btn {
        border: none;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 10px;

        &:hover {
          box-shadow: 2px 2px lightslategray;
        }

        svg {
          width: 40px;
          height: 40px;
        }
      }
      .error {
        margin: 0;
        margin-top: 10px;
        color: red;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .concert-page {
    max-width: 550px;
  }
}

@media screen and (min-width: 768px) {
  .concert-page {
    max-width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .concert-page {
    max-width: 900px;

    .concert-page-container {
      flex-direction: row;

      .description-container {
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }
}
