.header {
  background-color: #eff0f3;

  .container-xl {
    .navbar-toggler {
      box-shadow: none;
    }

    .navbar-collapse {
      .options__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .options__link {
          margin: 5px 0;
          width: 100%;
          padding: 15px;
          text-align: center;

          &:hover {
            color: grey;
          }
        }
      }

      .auth__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .user {
          display: flex;
          align-items: center;
          flex-direction: column;

          .user__link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            margin: 5px 0;
            width: 100%;
            text-align: center;

            .cart-icon {
              margin-top: -10px;
              width: 40px;
              height: 40px;
            }

            .cart-quantity {
              font-size: 20px;
              margin-left: 10px;
            }

            &:hover {
              color: grey;

              .cart-icon {
                fill: grey;
              }
            }
          }

          .sign-out {
            padding: 15px;
            width: 100%;
            border: none;
            background-color: transparent;
            font-size: 16px;

            &:hover {
              color: grey;
              cursor: pointer;
            }
          }
        }

        .sign-in {
          font-size: 16px;
          padding: 15px;
          margin: 5px 0;
          width: 100%;
          text-align: center;

          &:hover {
            color: grey;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .header {
    .container-xl {
      .navbar-collapse {
        .options__container {
          flex-direction: row;
        }

        .auth__container {
          .user {
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .header {
    .container-xl {
      .navbar-collapse {
        justify-content: space-between;
        .options__container {
          margin-left: 100px;
        }

        .auth__container {
          .user {
            .user__link {
              padding: 10px;
            }

            .sign-out {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
