.delete-modal {
  .btn {
    display: flex;
  }

  .modal {
    .modal-dialog {
      margin-top: 200px;
      .modal-content {
        .modal-body {
          .modal-buttons {
            display: flex;
            justify-content: space-between;
          }

          .messages {
            margin-top: 10px;
            .success {
              color: green;
              font-size: 1.2rem;
            }

            .error {
              color: red;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
