.forgot-password {
  margin: 0 10px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.5rem;
  }

  .form-messages {
    margin-top: 15px;
  }
}

@media screen and (min-width: 576px) {
  .forgot-password {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
