.user-concert-ticket {
  .ticket-form {
    .messages {
      margin-top: 10px;
      .success {
        color: green;
      }

      .error {
        color: red;
      }
    }
  }

  .tickets-container {
    margin-top: 50px;

    .ticket {
      border: 1px solid lightslategray;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
