.user-concert-invitation {
  margin-top: 30px;

  .user-concert-invitation-header {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .form-container {
    margin-bottom: 20px;

    .messages {
      margin-top: 20px;

      .success {
        color: green;
      }

      .error {
        color: red;
      }
    }
  }

  .invitations-container {
    .title {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .invitation {
      border: 1px solid lightgray;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      padding: 5px;

      .email {
        margin-bottom: 0;
      }

      .status {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .user-concert-invitation {
    .invitations-container {
      .invitation {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
