.user-concert-ticket {
  margin-top: 40px;
  .ticket-form {
    .ticket-form-header {
      font-size: 2rem;
    }

    .start-date {
      display: flex;
      flex-direction: column;
      color: gray;

      label {
        margin-bottom: 5px;
        margin-right: 10px;
        font-size: 1.1rem;
      }
    }

    .end-date {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      color: gray;

      label {
        margin-bottom: 5px;
        font-size: 1.1rem;
        margin-right: 10px;
      }
    }

    .messages {
      margin-top: 10px;
      .success {
        color: green;
      }

      .error {
        color: red;
      }
    }
  }

  .tickets-container {
    margin-top: 50px;

    h4 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .ticket {
      border: 1px solid lightslategray;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;

      .ticket-header {
        display: flex;
        flex-direction: column;

        p {
          flex: 1;
          margin: 0;
        }
      }

      .date-container {
        display: flex;
        flex-direction: column;

        .date {
          margin: 0;
          flex: 1;
        }

        .start {
          margin: 0;
          flex: 1;
        }

        .end {
          margin: 0;
          flex: 2;
        }
      }

      .description {
        margin-bottom: 0;
      }

      .delete-container {
        margin-top: 5px;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .user-concert-ticket {
    .ticket-form {
      .start-date {
        flex-direction: row;
        justify-content: space-between;

        label {
          margin: 0;
        }
      }

      .end-date {
        flex-direction: row;
        justify-content: space-between;

        label {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .user-concert-ticket {
    .ticket-form {
      .start-date {
        justify-content: flex-start;

        label {
          min-width: 300px;
        }
      }

      .end-date {
        justify-content: flex-start;

        label {
          min-width: 300px;
        }
      }
    }

    .tickets-container {
      .ticket {
        .ticket-header {
          flex-direction: row;
        }

        .date-container {
          flex-direction: row;
        }
      }
    }
  }
}
