.footer {
  background-color: #eff0f3;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  .wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo-link {
      margin: 10px 0;
      .logo {
        height: 40px;
      }

      &:hover {
        color: black;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .phone {
        margin: 10px 0;
        &:hover {
          color: black;
        }
      }

      .mail {
        margin: 10px 0;
        &:hover {
          color: black;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .footer {
    .wrapper {
      flex-direction: row;
      .logo-link {
        margin: 0;
      }

      .info {
        flex-direction: row;
        .phone {
          margin: 0;
          margin-right: 50px;
        }

        .mail {
          margin: 0;
        }
      }
    }
  }
}
