.user-band-page {
  margin: 40px 10px 100px;

  .user-band-container {
    padding: 10px 10px;

    .details-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img-container {
        max-width: 300px;

        img {
          width: 100%;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          margin: 0;
          flex: 1;
          font-size: 1.5rem;
        }

        .description {
          text-align: justify;
          font-size: 1rem;
        }

        .btn-wrapper {
          margin-top: 10px;
        }
      }
    }

    .upload-form-container {
      margin-top: 10px;
      margin-bottom: 30px;

      .img-container {
        margin: 0 auto;
        max-width: 300px;

        img {
          margin-bottom: 20px;
          width: 100%;
        }
      }

      .button_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .select-image {
          margin-bottom: 10px;
        }
      }

      .imageErrors {
        margin-top: 5px;
        color: red;
      }
    }

    .members {
      margin-bottom: 20px;

      h4 {
        font-size: 1.5rem;
      }

      .band {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 0 5px;
        margin-top: 10px;

        &:hover {
          color: slategray;
        }

        p {
          margin: 0;
          font-size: 1rem;
        }
      }
    }

    .invitation-container {
      margin-top: 30px;
      .invitation-header {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .messages {
        margin-top: 10px;

        .success {
          color: green;
        }

        .error {
          color: red;
        }
      }

      .list-invitations {
        margin-top: 20px;
        .list-invitations-header {
          font-size: 1.5rem;
          font-weight: 500;
        }

        .invitation {
          margin-top: 10px;
          border: 1px solid lightgray;
          border-radius: 10px;
          padding: 0 5px;

          p {
            margin: 5px 0;
            font-size: 1rem;
          }
        }
      }
    }

    .modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            .messages {
              margin-top: 10px;

              .success {
                color: green;
              }

              .error {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .user-band-page {
    .user-band-container {
      .details-container {
        flex-direction: row;

        .img-container {
          max-width: 300px;
          margin-right: 10px;

          img {
            width: 100%;
          }
        }
        .details {
          width: 100%;
          align-items: flex-start;
        }
      }

      .upload-form-container {
        .upload-image {
          display: flex;
          flex-direction: row;
          align-items: center;
          .img-container {
            margin: 0;
            margin-right: 10px;

            img {
              margin-bottom: 0;
            }
          }

          .button_container {
            align-items: flex-start;
          }
        }
      }

      .members {
        .band {
          .role-genre {
            display: flex;

            p {
              flex: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .user-band-page {
    .user-band-container {
      .members {
        .band {
          display: flex;

          p {
            flex: 1;
          }
        }
      }

      .invitation-container {
        .list-invitations {
          margin-top: 20px;
          .list-invitations-header {
            font-size: 1.5rem;
            font-weight: 500;
          }

          .invitation {
            display: flex;
            justify-content: space-between;

            p {
              margin: 5px 0;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .user-band-page {
    margin-top: 10px;
  }
}
