.user-band-page {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;

  .container {
    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .img-container {
        width: 300px;
        margin-right: 20px;

        img {
          width: 100%;
        }
      }

      p {
        margin: 0;
        flex: 1;
      }
    }

    .upload-form-container {
      margin-top: 20px;
      margin-bottom: 30px;

      .img-container {
        width: 300px;
        margin-bottom: 20px;

        img {
          width: 100%;
        }
      }

      .button_container {
        display: flex;
        flex-direction: row;

        .select-image {
          margin-right: 20px;
        }
      }

      .imageErrors {
        margin-top: 5px;
        color: red;
      }
    }

    .invitation-container {
      .messages {
        margin-top: 10px;

        .success {
          color: green;
        }

        .error {
          color: red;
        }
      }
    }

    .modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            .messages {
              margin-top: 10px;

              .success {
                color: green;
              }

              .error {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
