.user-concert-page {
  margin-top: 30px;
  margin-bottom: 100px;

  .details-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .img-wrapper {
      max-width: 300px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .details {
      margin-top: 10px;
      width: 100%;

      .details-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
          line-height: 1;
          order: 2;
          margin: 0;
          font-size: 2.3rem;
        }
      }

      .description {
        margin: 0;
        text-align: justify;
      }

      .date {
        display: flex;

        p {
          margin: 0;
          margin-right: 10px;
        }
      }

      .venue {
        margin: 0;
      }

      .genres {
        margin: 0;
      }
    }
  }

  .upload-image-container {
    margin-bottom: 20px;
    .img-container {
      max-width: 300px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
    .form-container {
      .button_container {
        margin-top: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;

        .select-image {
          margin-bottom: 20px;
          // margin-right: 40px;
        }
      }

      .imageErrors {
        margin-top: 5px;
        color: red;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .user-concert-page {
    .upload-image-container {
      .form-container {
        .button_container {
          flex-direction: row;
          justify-content: space-around;

          .select-image {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .user-concert-page {
    .details-container {
      flex-direction: row;
      align-items: center;

      .img-wrapper {
        margin-right: 10px;
      }

      .details {
        .details-header {
          align-items: flex-end;
          flex-direction: row;
          .name {
            order: unset;
          }
        }
      }
    }

    .upload-image-container {
      .upload-image {
        display: flex;
        flex-direction: row;

        .img-container {
          margin: 0;
          margin-right: 10px;
        }
      }

      .form-container {
        width: 100%;

        .button_container {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .user-concert-page {
    margin-top: 10px;
  }
}
