.user-concert-page {
  .details-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    .img-wrapper {
      min-width: 300px;
      margin-right: 20px;

      img {
        width: 100%;
      }
    }

    .details {
      .details-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
        }
      }

      .description {
        margin: 0;
      }

      .date {
        display: flex;

        p {
          margin: 0;
          margin-right: 10px;
        }
      }

      .venue {
        margin: 0;
      }

      .genres {
        margin: 0;
      }
    }
  }

  .upload-image-container {
    margin-bottom: 40px;
    margin-bottom: 20px;
    .img-container {
      width: 300px;
      margin-right: 20px;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }

    .button_container {
      display: flex;
      flex-direction: row;

      .select-image {
        margin-right: 40px;
      }
    }

    .imageErrors {
      margin-top: 5px;
      color: red;
    }
  }
}
