.band-tab {
  .band-wrapper {
    .band-container {
      .band {
        margin: 10px 0;
        padding: 5px;
        border: 1px solid lightgrey;
        .upload-image {
          margin-top: 20px;
        }
      }
    }
  }
}
