.artist-page {
  margin: 40px auto 100px;
  display: flex;
  width: 100%;
  flex-direction: column;

  .artist-page-container {
    border-radius: 5px;
    margin: 0 10px;

    .image {
      width: 300px;
      height: 450px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        object-fit: cover;
      }

      .altImg {
        width: 100%;
      }
    }

    .artist-info {
      margin-top: 10px;

      .artist-name {
        font-size: 3rem;
        line-height: 1;
      }

      .artist-role {
        font-size: 1.5rem;
        line-height: 1;
        margin-top: 10px;
      }

      .artist-genre {
        margin-top: 5px;
        font-size: 1.5rem;
        line-height: 1;
      }

      .artist-description {
        margin-top: 5px;
        text-align: justify;
      }
    }
  }

  .artist-bands-container {
    margin: 20px 10px 100px;

    .band {
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;

      &:hover {
        color: slategray;
      }

      p {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .artist-page {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .artist-page {
    max-width: 90%;

    .artist-page-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .artist-info {
        margin: 0;
        margin-left: 20px;
        flex: 1;
      }
    }

    .artist-bands-container {
      margin-top: 20px;

      .band {
        flex-direction: row;

        p {
          flex: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .artist-page {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .artist-page {
    max-width: 1000px;
  }
}
